.toolbar{
	height:5rem;
	width:100%;
	background-color: chocolate;
	flex: 0;
	display: flex;
}
.toolbar-items{
	flex: 1;
}
.toolbar-buttons{
	margin: 0.1rem;
	flex: 0;
}

.toolbar-button > svg {
    height: 2.8rem;
    width: 2.8rem;
}
